label {
    font-size: 24pt;
}

.content {
    color: #17162d;
    border-style: none;
    border-radius: 4px;
    height: 150px;
    width: 40%;
    text-align: left;
    resize: none;
    padding: 1%;
}

.button {
    color: #17162d;
    background-color: #ffffff;
    border-style: none;
    border-radius: 4px;
    margin-top: 20px;
    width: 200px;
}

.button:hover, .button:active {
    outline-color: #ffffff;
}
