* {
	font-family: "Diary of an 8-bit mage";
	font-color: #ffffff;
	font-size: 20pt;
	text-shadow: 0.5px 0.5px 0.5px gray;
	margin: 5px;
	padding: 10px;
}

li {
	list-style-type: none;
}


h1 {
	color: #ffffff;
	font-size: 50pt;
	margin-top: 20px;
	margin-left: 420px;
}

body {
	background-image: url("../images/back.gif");
	background-size: cover;
	background-attachment: fixed;
}

form {
	margin-left: 150px;
}

#nick {
	color: #17162d;
	border-style: none;
	border-radius: 4px;
	height: 30px;
	width: 700px;
}

#message {
	color: #17162d;
	resize: none;
	border-style: none;
	border-radius: 4px;
	height: 150px;
	width: 700px;
}

#nick:hover, #message:hover, #button:hover {
	outline-color: white;
}

#button {
	color: #17162d;
	background-color: #ffffff;
	border-style: none;
	border-radius: 4px;
	margin-top: 20px;
	margin-left: 260px;
	width: 200px;
}

#button:active {
	outline: none;
}

#container {
	position: absolute;
	top:0;
	bottom: 0;
	left: 0;
	width: 0;

	display: flex;
	flex-direction: column;
}

#section {
	flex-grow: 1;

	display: flex;
	flex-direction: column;

	min-height: 0;
}

#messages {
	background-color: rgba(255,255,255,0.7);
	border-style: none;
	border-radius: 4px;

	color: #17162d;
	margin-top: 10px;
	margin-left: 168px;
	width: 700px;

	flex-grow: 1;

	overflow: auto;

	min-height: 0;
}

::placeholder {
	color: #17162d;
	opacity: 20%;
}