.chatView {
    display: flex;
    flex-flow: column;
    height: 60%;
    width: 1000px;
    margin: 0 auto;
}

.messages {
    background-color: rgba(255,255,255,0.5);
    border-style: none;
    border-radius: 4px;

    color: #17162d;

    flex: 1 1 auto;
    overflow-y: auto;
    min-height: 0;
}

.form {
    margin: 0;
}

.forScroll {
    float: left;
    clear: both;
}

@media only screen and (max-width: 800px) {
    .chatView {
        width: 100%;
        margin: 0;
    }

    .messages {

    }

    .form {
        margin: 0;
    }
}
